<!-- component -->
<div class="grid min-h-screen place-items-center">
  <div class="w-11/12 p-12 bg-white sm:w-8/12 md:w-1/2 lg:w-5/12">
    <h1 class="text-xl font-semibold">
      Welcome to TaskMaster ?,
      <span class="font-normal">please SignUp to continue</span>
    </h1>
    <form
      class="mt-6"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit(registerForm)"
    >
      <label
        for="userName"
        class="block text-xs font-semibold text-gray-600 uppercase"
        >User Name</label
      >
      <input
        id="userName"
        type="text"
        name="userName"
        formControlName="userName"
        placeholder="First name"
        autocomplete="given-name"
        class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
        required
      />
      <div
        *ngIf="AllControles?.userName?.errors && submitted"
        class="block w-full p-3 mt-2 text-red-700 bg-red-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      >
        <p>userName is required</p>
      </div>

      <label
        for="email"
        class="block mt-2 text-xs font-semibold text-gray-600 uppercase"
        >E-mail</label
      >
      <input
        id="email"
        type="email"
        name="email"
        formControlName="email"
        placeholder="john.doe@company.com"
        autocomplete="email"
        class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
        required
      />
      <div
        *ngIf="AllControles?.email?.errors?.['email'] && submitted"
        class="block w-full p-3 mt-2 text-red-700 bg-red-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      >
        <p>Invalid email</p>
      </div>
      <div
        *ngIf="AllControles?.userName?.errors && submitted"
        class="block w-full p-3 mt-2 text-red-700 bg-red-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      >
        <p>Email is required</p>
      </div>
      <label
        for="password"
        class="block mt-2 text-xs font-semibold text-gray-600 uppercase"
        >Password</label
      >
      <input
        id="password"
        type="password"
        name="password"
        formControlName="password"
        placeholder="********"
        autocomplete="new-password"
        class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
        required
      />
      <div
        *ngIf="passwordValidation?.errors?.['minlength'] && submitted"
        class="block w-full p-3 mt-2 text-red-700 bg-red-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      >
        <p>Minimum 6 charecter</p>
      </div>
      <div
        *ngIf="AllControles?.password?.errors && submitted"
        class="block w-full p-3 mt-2 text-red-700 bg-red-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      >
        <p>Password is required</p>
      </div>
      <label
        for="password-confirm"
        class="block mt-2 text-xs font-semibold text-gray-600 uppercase"
        >Confirm password</label
      >
      <input
        id="password-confirm"
        type="password"
        name="confirmPassword"
        formControlName="confirmPassword"
        placeholder="********"
        autocomplete="new-password"
        class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
        required
      />
      <div
        *ngIf="
          AllControles?.password?.value != AllControles?.confirmPassword?.value
        "
        class="block w-full p-3 mt-2 text-red-700 bg-red-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      >
        <p>Password missmatch</p>
      </div>

      <button
        type="submit"
        class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none"
      >
        Sign up
      </button>
      <a
        routerLink="/login"
        class="flex justify-between inline-block mt-4 text-xs text-gray-500 cursor-pointer hover:text-black"
      >
        Already registered?
      </a>
    </form>
  </div>
</div>
